.main-header {
	background-color: white;
	padding-top: 18px;
	padding-bottom: 17px;

}

.main-header > .container {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	background: url("../images/logo.png") no-repeat;
	background-size: cover;
	display: block;
	vertical-align: middle;
	width: 106px;
	height: 33px;
	text-indent: -999em;
	margin: 0 auto;
	position: relative;
	z-index: 3;

	&:focus{
		outline: none;
	}
}

.logo_invert {
	background-image: url("../images/logo-invert.png");
}

.lang-switcher {
	position: absolute;
	right: 20px;
	z-index: 2;
}

.lang-switcher ul {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0;
}

.lang-switcher ul li {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 14px;
}

.lang-switcher ul li + li {
	padding-left: 8px;
	margin-left: 8px;
	border-left: 1px solid #a6a6a6;
}

.lang-switcher ul li a {
	text-decoration: none;
	color: #333;
	text-transform: uppercase;
}

.lang-switcher ul li a.active {
	color: #2176d6;
}

.lang-switcher ul li a:hover {
	text-decoration: underline;
}

.main-nav {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	margin-top: -36px;
	z-index: 1;
}

.main-nav ul {
	list-style: none;
	padding: 30px 0 34px;
	margin: 0;
	background-color: #1d1f22;
	text-align: center;
	display: none;
	font-size: 0;
}

.main-nav ul li {
	color: white;
	font-size: 20px;
	font-size: 1.25rem;
	text-transform: uppercase;
	font-weight: 400;
}

.main-nav ul li a {
	padding: 16px 8px;
	text-decoration: none;
	color: #fff;
	display: inline-block;
	vertical-align: middle;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.main-nav ul li a:hover, .main-nav ul li a.active {
	color: #2275d4;
}

.main-nav ul li a:hover .svg, .main-nav ul li a.active .svg {
	fill: #2275d4;
}

.main-nav ul li a .svg {
	fill: #959697;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.main-nav__item {
	display: block;
}

.menu-button {
	display: block;
	padding: 24px 20px;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	width: 72px;
	height: 69px;
	box-sizing: border-box;
}

.menu-button:focus {
	outline: none;
}

.menu-button.is-active, .menu-button:hover {
	background-color: #1d1f22;
}

.burger-icon {
	position: relative;
	margin-top: 8px;
	margin-bottom: 8px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.burger-icon, .burger-icon::before, .burger-icon::after {
	display: block;
	width: 32px;
	height: 2px;
	background-color: #2275d4;
	outline: 1px solid transparent;
	-webkit-transition-property: background-color, -webkit-transform;
	transition-property: background-color, -webkit-transform;
	transition-property: background-color, transform;
	transition-property: background-color, transform, -webkit-transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.burger-icon::before, .burger-icon::after {
	position: absolute;
	content: "";
}

.burger-icon::before {
	top: -8px;
}

.burger-icon::after {
	top: 8px;
}

.menu-button.is-active .burger-icon {
	background-color: transparent;
}

.menu-button.is-active .burger-icon::before {
	-webkit-transform: translateY(7px) rotate(45deg);
	transform: translateY(7px) rotate(45deg);
}

.menu-button.is-active .burger-icon::after {
	-webkit-transform: translateY(-9px) rotate(-45deg);
	transform: translateY(-9px) rotate(-45deg);
}

@media screen and (min-width: 768px) {

	.main-nav {
		margin-top: -46px;
	}

	.menu-button {
		height: 92px;
		width: 104px;
		padding: 36px 31px;
	}

	.main-header {
		padding-top: 23px;
		padding-bottom: 23px;
	}

	.logo {
		background-size: 150px;
		width: 160px;
		height: 46px;
	}

	.burger-icon {
		position: relative;
		margin-top: 10px;
		margin-bottom: 10px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.burger-icon, .burger-icon::before, .burger-icon::after {
		display: block;
		width: 43px;
		height: 2px;
		background-color: #2275d4;
		outline: 1px solid transparent;
		-webkit-transition-property: background-color, -webkit-transform;
		transition-property: background-color, -webkit-transform;
		transition-property: background-color, transform;
		transition-property: background-color, transform, -webkit-transform;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
	}
	.burger-icon::before, .burger-icon::after {
		position: absolute;
		content: "";
	}
	.burger-icon::before {
		top: -10px;
	}
	.burger-icon::after {
		top: 10px;
	}
}

@media screen and (min-width: 1024px) {

	.logo {
		margin: 0;
		flex-grow: 1;
	}

	.lang-switcher {
		display: flex;
		justify-content: flex-end;
		order: 1;
		flex-grow: 1;
		position: relative;
		right: auto;
		top: auto;
	}

	.menu-button {
		display: none;
	}

	.main-nav {
		flex-grow: 3;
		margin-top: 0;
		position: relative;
		top: auto;
		left: auto;
		right: auto;
	}

	.main-nav ul {
		display: flex;
		justify-content: space-around;
		padding: 0;
		background-color: transparent;
	}

	.main-nav ul li {
		display: inline-block;
		font-size: 15px;
		font-size: 0.9375rem;
	}

	.main-nav ul li + li {
		//margin-left: 44px;
	}

	.main-nav ul li a {
		color: #333;
		padding-top: 0;
		padding-bottom: 0;
	}

	.main-nav ul li a .svg {
		fill: #adadad;
	}
}