{% include 'head/head.html' %}

<body>


<!--start header-->
{% include 'header/header.html' %}
<!--end header-->

<!-- WORKAREA -->
<main>
	<div class="c-about">
		<img src="images/img-about.jpg" alt="">
		<div class="container">
			<div class="valign">
				<div class="valign-cell">
					<div class="c-about__logo">
						<img src="images/logo-oakley-inverse.png" alt="">
					</div>
					<div class="c-about__title">
						ПРЕВРАЩЕНИЕ БИЗНЕС-АНАЛИТИКИ В БИЗНЕС-ДЕЙСТВИЯ
					</div>
					<p>
						VisiQuate приняла решение построить выделенный центр разработки, чтобы улучшить процессы
						создания и поддержки своих продуктов для управления производительностью и эффективностью
						бизнеса.
					</p>
					<a href="#" class="btn btn_default">Узнать больше</a>
				</div>
			</div>
		</div>
	</div>

	<div id="consulting" class="s-intro">
		<img src="images/intro-img-direction.jpg" alt="">
		<div class="container">
			<div class="valign">
				<div class="valign-cell">
					Консалтинг
				</div>
			</div>
		</div>
	</div>

	<div class="s-content">
		<div class="container">
			<div class="b-select-text">
				<div class="b-select-text__icon">
					<i class="icn icn_system-integration"></i>
				</div>
				<div class="b-select-text__body">
					Компания проектирует и реализует комплексные телекоммуникационные решения для корпоративных
					клиентов, бизнес которых имеет сложную или географически распределенную структуру. Выполняя услуги
					системной интеграции, компания выступает для клиента генеральным подрядчиком, обеспечивающим полный
					цикл работ.
				</div>
			</div>
			<div class="c-steps-list">
				<div class="steps-title">
					Интеграционные решения, в частности, включают:
				</div>
				<ol>
					<li>
						<div class="step-unit">
							<div class="step-number"><span>1</span></div>
							<div class="step-value">Проектирование</div>
						</div>
					</li>
					<li>
						<div class="step-unit">
							<div class="step-number"><span>2</span></div>
							<div class="step-value">Создание локальных вычислительных сетей</div>
						</div>
					</li>
					<li>
						<div class="step-unit">
							<div class="step-number"><span>3</span></div>
							<div class="step-value">Создание беспроводных сетей</div>
						</div>
					</li>
					<li>
						<div class="step-unit">
							<div class="step-number"><span>4</span></div>
							<div class="step-value">Виртуальный и физический хостинг web-ресурсов</div>
						</div>
					</li>
					<li>
						<div class="step-unit">
							<div class="step-number"><span>5</span></div>
							<div class="step-value">Создание структурированных кабельных сетей (СКС)</div>
						</div>
					</li>
					<li>
						<div class="step-unit">
							<div class="step-number"><span>6</span></div>
							<div class="step-value">Сервисное обслуживание и управление сетевой инфраструктурой</div>
						</div>
					</li>
				</ol>
			</div>
			<div class="c-benefits">
				<div class="col-benefit">
					<div class="benefit-title">Организация инфраструктуры</div>
					<ul>
						<li>Организация рабочих мест офисной телефонии (поставка и монтаж АТС)</li>
						<li>Организация центров обработки данных</li>
						<li>Организация Call-центров</li>
						<li>Организация сетевых сервисов</li>
						<li>Монтаж систем контроля и управления доступом, видеонаблюдения</li>
						<li>Обеспечение защиты персональных данных</li>
						<li>Монтаж охранно-пожарной сигнализации</li>
						<li>Строительство структурированных кабельных сетей</li>
					</ul>
				</div>
				<div class="col-benefit">
					<div class="benefit-title">Сервисные услуги</div>
					<ul>
						<li>Настройка оборудования, технические консультации</li>
						<li>Проектирование</li>
						<li>Сервисное обслуживание</li>
						<li>Обучение</li>
					</ul>
				</div>
				<div class="col-benefit">
					<div class="benefit-title">Комплексные решения</div>
					<ul>
						<li>Разработка уникальных интегрированных решений для компаний различного уровня и различной
							степени сложности
						</li>
						<li>Системы интеллектуального здания (умный дом)</li>
						<li>Программно-аппаратные комплексы</li>
						<li>Конвергентные услуги фиксированной и мобильной связи</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div id="integration" class="s-intro">
		<img src="images/intro-img-projects.jpg" alt="">
		<div class="container">
			<div class="valign">
				<div class="valign-cell">
					Системная интеграция
				</div>
			</div>
		</div>
	</div>

	<div class="s-content">
		<div class="container">
			<div class="b-select-text">
				<div class="b-select-text__icon">
					<i class="icn icn_project"></i>
				</div>
				<div class="b-select-text__body">
					Компания проектирует и реализует комплексные телекоммуникационные решения для корпоративных
					клиентов, бизнес которых имеет сложную или географически распределенную структуру. Выполняя услуги
					системной интеграции, компания выступает для клиента генеральным подрядчиком, обеспечивающим полный
					цикл работ.
				</div>
			</div>
			<div class="c-steps-list">
				<div class="steps-title">
					Интеграционные решения, в частности, включают:
				</div>
				<ol>
					<li>
						<div class="step-unit">
							<div class="step-number"><span>1</span></div>
							<div class="step-value">Проектирование</div>
						</div>
					</li>
					<li>
						<div class="step-unit">
							<div class="step-number"><span>2</span></div>
							<div class="step-value">Создание локальных вычислительных сетей</div>
						</div>
					</li>
					<li>
						<div class="step-unit">
							<div class="step-number"><span>3</span></div>
							<div class="step-value">Создание беспроводных сетей</div>
						</div>
					</li>
					<li>
						<div class="step-unit">
							<div class="step-number"><span>4</span></div>
							<div class="step-value">Виртуальный и физический хостинг web-ресурсов</div>
						</div>
					</li>
					<li>
						<div class="step-unit">
							<div class="step-number"><span>5</span></div>
							<div class="step-value">Создание структурированных кабельных сетей (СКС)</div>
						</div>
					</li>
					<li>
						<div class="step-unit">
							<div class="step-number"><span>6</span></div>
							<div class="step-value">Сервисное обслуживание и управление сетевой инфраструктурой</div>
						</div>
					</li>
				</ol>
			</div>
			<div class="c-benefits">
				<div class="col-benefit">
					<div class="benefit-title">Организация инфраструктуры</div>
					<ul>
						<li>Организация рабочих мест офисной телефонии (поставка и монтаж АТС)</li>
						<li>Организация центров обработки данных</li>
						<li>Организация Call-центров</li>
						<li>Организация сетевых сервисов</li>
						<li>Монтаж систем контроля и управления доступом, видеонаблюдения</li>
						<li>Обеспечение защиты персональных данных</li>
						<li>Монтаж охранно-пожарной сигнализации</li>
						<li>Строительство структурированных кабельных сетей</li>
					</ul>
				</div>
				<div class="col-benefit">
					<div class="benefit-title">Сервисные услуги</div>
					<ul>
						<li>Настройка оборудования, технические консультации</li>
						<li>Проектирование</li>
						<li>Сервисное обслуживание</li>
						<li>Обучение</li>
					</ul>
				</div>
				<div class="col-benefit">
					<div class="benefit-title">Комплексные решения</div>
					<ul>
						<li>Разработка уникальных интегрированных решений для компаний различного уровня и различной
							степени сложности
						</li>
						<li>Системы интеллектуального здания (умный дом)</li>
						<li>Программно-аппаратные комплексы</li>
						<li>Конвергентные услуги фиксированной и мобильной связи</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div id="order" class="s-intro">
		<img src="images/intro-img-directions.jpg" alt="">
		<div class="container">
			<div class="valign">
				<div class="valign-cell">
					Заказная раработка
				</div>
			</div>
		</div>
	</div>

	<div class="s-content">
		<div class="container">
			<div class="b-select-text">
				<div class="b-select-text__icon">
					<i class="icn icn_autsorsing"></i>
				</div>
				<div class="b-select-text__body">
					Компания проектирует и реализует комплексные телекоммуникационные решения для корпоративных
					клиентов, бизнес которых имеет сложную или географически распределенную структуру. Выполняя услуги
					системной интеграции, компания выступает для клиента генеральным подрядчиком, обеспечивающим полный
					цикл работ.
				</div>
			</div>
			<div class="c-steps-list">
				<div class="steps-title">
					Интеграционные решения, в частности, включают:
				</div>
				<ol>
					<li>
						<div class="step-unit">
							<div class="step-number"><span>1</span></div>
							<div class="step-value">Проектирование</div>
						</div>
					</li>
					<li>
						<div class="step-unit">
							<div class="step-number"><span>2</span></div>
							<div class="step-value">Создание локальных вычислительных сетей</div>
						</div>
					</li>
					<li>
						<div class="step-unit">
							<div class="step-number"><span>3</span></div>
							<div class="step-value">Создание беспроводных сетей</div>
						</div>
					</li>
					<li>
						<div class="step-unit">
							<div class="step-number"><span>4</span></div>
							<div class="step-value">Виртуальный и физический хостинг web-ресурсов</div>
						</div>
					</li>
					<li>
						<div class="step-unit">
							<div class="step-number"><span>5</span></div>
							<div class="step-value">Создание структурированных кабельных сетей (СКС)</div>
						</div>
					</li>
					<li>
						<div class="step-unit">
							<div class="step-number"><span>6</span></div>
							<div class="step-value">Сервисное обслуживание и управление сетевой инфраструктурой</div>
						</div>
					</li>
				</ol>
			</div>
			<div class="c-benefits">
				<div class="col-benefit">
					<div class="benefit-title">Организация инфраструктуры</div>
					<ul>
						<li>Организация рабочих мест офисной телефонии (поставка и монтаж АТС)</li>
						<li>Организация центров обработки данных</li>
						<li>Организация Call-центров</li>
						<li>Организация сетевых сервисов</li>
						<li>Монтаж систем контроля и управления доступом, видеонаблюдения</li>
						<li>Обеспечение защиты персональных данных</li>
						<li>Монтаж охранно-пожарной сигнализации</li>
						<li>Строительство структурированных кабельных сетей</li>
					</ul>
				</div>
				<div class="col-benefit">
					<div class="benefit-title">Сервисные услуги</div>
					<ul>
						<li>Настройка оборудования, технические консультации</li>
						<li>Проектирование</li>
						<li>Сервисное обслуживание</li>
						<li>Обучение</li>
					</ul>
				</div>
				<div class="col-benefit">
					<div class="benefit-title">Комплексные решения</div>
					<ul>
						<li>Разработка уникальных интегрированных решений для компаний различного уровня и различной
							степени сложности
						</li>
						<li>Системы интеллектуального здания (умный дом)</li>
						<li>Программно-аппаратные комплексы</li>
						<li>Конвергентные услуги фиксированной и мобильной связи</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div id="contacts" class="s-intro  s-intro_contacts">
		<img src="images/intro-img-contacts.jpg" alt="">
		<div class="container">
			<div class="valign">
				<div class="valign-cell">
					Контакты
				</div>
			</div>
			<div class="contcts-coordinates">
				<ul>
					<li>
						<span class="icn icn_location-circuit"></span>
						<span class="contcts-coordinates__text">
						<span class="text-address-item">ул. 9-я Радиальная, 2
									<small>115404 Москва, Россия</small>
								</span>
						</span>
					</li>
					<li>
						<span class="icn icn_tel-circuit"></span>
						<span class="contcts-coordinates__text">
						<a
								href="tel:+7-495-000-00-00">+7-495-000-00-00</a>
							</span>
					</li>
					<li>
						<span class="icn icn_email-circuit"></span>
						<span class="contcts-coordinates__text">
						<a
								href="mailto:welcome@bitgrass.ru">welcome@bitgrass.ru</a>
						</span>
					</li>
				</ul>
			</div>

		</div>
	</div>

	<div class="container">
		<div class="b-feedback-form">
			<div class="b-title">Обратная связь</div>
			<form action="#">
				<div class="b-feedback-form__cols">
					<div class="b-feedback-form__col">
						<div class="form-group">
							<div class="form-label">Ваше имя</div>
							<input type="name" class="form-control" value="">
						</div>
						<div class="form-group">
							<div class="form-label">E-mail</div>
							<input type="email" class="form-control" value="">
						</div>
						<div class="form-group">
							<div class="form-label">Контактный телефон</div>
							<input type="tel" class="form-control" value="">
						</div>
					</div>
					<div class="b-feedback-form__col">
						<div class="form-group">
							<div class="form-label">Сообщение</div>
							<textarea class="form-control"></textarea>
						</div>
					</div>
				</div>
				<div class="row-btn">
					<button type="submit" class="btn btn_default">отправить</button>
				</div>
			</form>
		</div>
	</div>
</main>
{% include 'footer/footer.html' %}
<!-- END WORKAREA -->

<!-- /.content -->

<!-- /.wrapper -->
{% include 'connect/script.html' %}
{% include 'connect/stylesheet.html' %}

</body>

</html>