
.benefit-title {
	color: #666;
	font-weight: 400;
	font-size: 24px;
	font-size: 1.5rem;
	line-height: 30px;
	margin-bottom: 22px; }
@media screen and (min-width: 1024px) {
	.benefit-title {
		display: table-caption; } }